$color-white: #fff;
$color-add: #f4c338;
$color-txt: #1f1914;



$laptopbig-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 991px;
$tablet-small-width: 768px;
$mobile-big-width: 644px;
$mobile-width: 540px;
$mobile-small-width: 380px;
